@model EmployeeManagementSystem.Models.Employee

@{
    ViewBag.Title = "Deps";
}
<form method="post" >
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Register User</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
			@if (TempData["error"] != null && TempData["error"].Equals("Email Already Exists try another email"))
			{
				<h6 class="text-danger">@TempData["error"]</h6>
			}
		</div>
		<div class="mb-3">
			<label asp-for="Password"></label>
			<input asp-for="Password" class="form-control" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />	
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Role"></label>
			<input asp-for="Role" class="form-control" />
			<span asp-validation-for="Role" class="text-danger"></span>
		</div>
		<br></br>
		<div>  
			<label asp-for="DepartmentId"></label>
           <select asp-for="DepartmentId" class="form-control">
			    @foreach(var obj in ViewBag.Deps)
					{
						<option value=@obj.DepartmentId>@obj.DepartmentName</option>
				
					}					
           </select>
        </div>  
		<br></br>
		<div class="mb-3">
			<label asp-for="JoiningDate"></label>
			<input asp-for="JoiningDate" class="form-control" />
			<span asp-validation-for="JoiningDate" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Address"></label>
			<input asp-for="Address" class="form-control" />
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="City"></label>
			<input asp-for="City" class="form-control" />
			<span asp-validation-for="City" class="text-danger"></span>

		</div>
		<div class="mb-3">
			<label asp-for="PhoneNumber"></label>
			<input asp-for="PhoneNumber" class="form-control" />
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="State"></label>
			<input asp-for="State" class="form-control" />
			<span asp-validation-for="State" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Zipcode"></label>
			<input asp-for="Zipcode" class="form-control" />
			<span asp-validation-for="Zipcode" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Country"></label>
			<input asp-for="Country" class="form-control" />
			<span asp-validation-for="Country" class="text-danger"></span>
		</div>		
		<button id="submit" type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Admin" asp-action="AdminHomePage" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}




